<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    
    <header>
      <%- include('../../Navbar/nav.ejs'); %>
    </header>

    <title>Registro Campaña</title>
  </head>
  <body>
  

<div class="container">

  <br>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Nueva Campaña
  </button>
  <br><br>
  <!--TABLA-->


  <table id="listCamping" class="display" style="width:100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Campaña</th>
        <th>Fecha</th>
        <th>Ediar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>idCampaña</th>
        <th>nombre</th>
        <th>fechaCampaña</th>
      </tr>
    </tfoot>
  </table>

  <!--TABLA-->
</div>
    

    



  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registro Campaña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form id="formCamping">

                  <div class="mb-3">
                    <p class="text-uppercase fw-bolder">Nombre Campaña</p>
                    <input type="text" style="text-transform:uppercase;" class="form-control"  name="nombre" id="nombre" placeholder="Nombre Campaña..." required>
                  </div>

                <div class="mb-3">
                    <p class="text-uppercase fw-bolder">Fecha Campaña</p>
                     <input type="date" class="form-control" name="fechaCamping" id="fechaCampaña" placeholder="Fecha Campaña..." required>
                </div>


            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  

  <%- include('../../helper/message.ejs'); %>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <script src="/js/Camping/newCamping.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
 
  </body>
</html>