<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    
    <header>
      <%- include('../Navbar/nav.ejs'); %>
    </header>

    <title>Registro Paciente</title>
  </head>
  <body>
    
   


<div class="container">

  <br>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Nuevo Paciente
  </button>
  <br><br>
  <!--TABLA-->

  <table id="listPets" class="display" style="width:100%">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Peso</th>
        <th>Sexo</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Fecha Nacimiento</th>
        <th>Color</th>
        <th>IMG</th>
        <th>Cliente</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>idPaciente</th>
        <th>nombre</th>
        <th>peso</th>
        <th>sexo</th>
        <th>especie</th>
        <th>raza</th>
        <th>fechaNacimiento</th>
        <th>color</th>
        <th>img</th>
        <th>cliente</th>
      </tr>
    </tfoot>
  </table>

  <!--TABLA-->
</div>
    

    



  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registro Paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form id="formPet">
                  <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" style="text-transform:uppercase;" class="form-control" value="ejemplo" name="nombre" id="nombrePet" placeholder="Nombre Mascota..." required>
                  </div>
        

                  <div class="mb-3">
                    <div class="row">
                      <label class="form-label">Sexo</label>
                    </div>
                    <div class="row">
                      <select class="selectpicker" data-live-search="true" id="sexoPet" name="idSexo" required>
                        <option value="-1" selected>Selecciona sexo...</option>
                      </select> 
                    </div>
                  </div>  

        
                  <div class="mb-3">
                    <div class="row">
                      <label class="form-label">Especie</label>
                    </div>
                    <div class="row">
                      <select class="selectpicker" data-live-search="true" id="especiePet" name="idEspecie" required>
                        <option value="-1" selected>Selecciona especie...</option>
                      </select> 
                    </div>
                  </div>  


                  
                  
                  <div class="mb-3">
                    <div class="row">
                      <label class="form-label" >Raza</label>
                    </div>
                    <div class="row">
                      <select class="selectpicker" data-live-search="true" id="razaPet"  name="idRaza" required>
                        <option value="-1" selected>Seleccion raza...</option>
                      </select>
                    </div>
                    
                    
                  </div>
        
                 <!-- <div class="mb-3">
                    <label class="form-label">Edad</label>
                    <input type="number" class="form-control" name="edad" value="1" id="edadPet" placeholder="Edad..." required>
                  </div>-->
        
                  <div class="mb-3">
                    <label class="form-label">Peso</label>
                    <input type="number" class="form-control" name="peso" value="20" id="pesoPet" placeholder="Peso Mascota..." required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Color</label>
                    <input type="text" style="text-transform:uppercase;" class="form-control" name="color" value="negro como tu alma" id="colorPet" placeholder="Color Mascota..." required>
                  </div>

                  <div class="mb-3">
                    <div class="row">
                      <label class="form-label" >Cliente</label>
                    </div>
                    <div class="row">
                      <select class="selectpicker" data-live-search="true" id="clientePet"  name="idCliente" required>
                        <option value="-1" selected>Seleccion Cliente...</option>
                      </select>
                    </div>
                    
                    
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Img</label>
                    <input type="text" class="form-control" name="img" value="img" id="imgPet" placeholder="Imagen..." required>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Fecha Nacimiento</label>
                    <input type="text" class="form-control" name="fechaNacimiento" id="fechaNacimientoPet" value="20/05/23" placeholder="Fecha Nacimiento..." required>
                  </div>
        
                 <!-- <div class="mb-3">
                    <label class="form-label">Nombre Propietario</label>
                    <input type="text" class="form-control" name="cliente" id="clientePet" placeholder="Nombre Propietario..." required>
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" name="telefono" maxlength="10" class="form-control" id="telefonoPet" placeholder="Telefono..." required>
                  </div>
        
                  <div class="mb-3">
                    <label  class="form-label">Direccion</label>
                    <textarea class="form-control" id="direccionPet" name="direccion" rows="3" placeholder="Zinc #318 Col. Los Cristales, Guadalupe NL." required></textarea>
                  </div>-->
                
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    
    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <script src="/js/Pet/newPet.js"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
 
  </body>
</html>