<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <header>
      <%- include('../Navbar/nav.ejs'); %>
    </header>

    <title>Registro Paciente</title>
  </head>
  <body>
    
    
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Registro Paciente
</button>


<div class="container">
  <!--TABLA-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Peso</th>
        <th scope="col">Sexo</th>
        <th scope="col">Especie</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody id="listPets">
    </tbody>
  </table>
  <!--TABLA-->
</div>
    

    



  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Registro Paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                
                 <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nameRegister" placeholder="Nombre Mascota...">
                  </div>
        
        
                  <div class="mb-3">
                    <label class="form-label">Especie</label>
                    <select class="form-select" >
                        <option selected>Selecciona una especie...</option>
                        <option value="1">Canino</option>
                        <option value="2">Felino</option>
                      </select> 
                  </div>  
                  
                  <div class="mb-3">
                    <label class="form-label">Raza</label>
                    <select class="form-select" >
                        <option selected>Selecciona una raza...</option>
                        <option value="1">Labrador</option>
                        <option value="2">Chihuahua</option>
                      </select>
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Edad</label>
                    <input type="text" class="form-control" id="ageRegister" placeholder="Edad...">
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Peso</label>
                    <input type="text" class="form-control" id="weightRegister" placeholder="Peso Mascota...">
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Nombre Propietario</label>
                    <input type="text" class="form-control" id="nameClientRegister" placeholder="Nombre Propietario...">
                  </div>
        
                  <div class="mb-3">
                    <label class="form-label">Telefono</label>
                    <input type="number" maxlength="10" class="form-control" id="telephoneRegister" placeholder="Telefono...">
                  </div>
        
                  <div class="mb-3">
                    <label  class="form-label">Direccion</label>
                    <textarea class="form-control" id="adressRegister" rows="3" placeholder="Zinc #318 Col. Los Cristales, Guadalupe NL."></textarea>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Registrar</button>
        </div>
      </div>
    </div>
  </div>
  

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
      $( document ).ready(function() {
          console.log( "ready!" );
          getListPets();
      });

      function getListPets(){
        $.get( "/api/pet", function( data ) {
          console.log(data[0].length);

          for(var i = 0 ; i < data[0].length; i++){
              console.log(data[0][i].nombre)

              $("#listPets").append("<tr>"+
                                        "<th scope='row'>"+ data[0][i].idPaciente +"</th>"+
                                        "<td>"+ data[0][i].nombre +"</td>"+
                                        "<td>"+ data[0][i].peso +"</td>"+ 
                                        "<td>"+ data[0][i].sexo +"</td>"+
                                        "<td>"+ data[0][i].especie +"</td>"+
                                        "<td>"+ data[0][i].fechaNacimiento +"</td>"+
                                        "<td>"+ data[0][i].color +"</td>"+
                                      "</tr>");
          }
        });
      }
    </script>
  </body>
</html>