<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    
    <header>
      <%- include('../../Navbar/nav.ejs'); %>
    </header>

    <title>Detalle Paciente</title>
  </head>
  <body>
    <br>
    <div class="container">
        <p class="text-center" style="font-size: 45px;font-weight: bold;color: #AD177E;">PACIENTE</p>
    </div>
    
  
   <div class="container card" >
    <br>
        <div class="row">
            <div class="col"></div>
            <div class="col"><button type="button" class="btn btn-success">HISTORIAL CLINICO</button></div>
            <div class="col"><button type="button" class="btn btn-info">EDITAR PACIENTE</button></div>
            <div class="col"><button type="button" class="btn btn-danger">BORRAR PACIENTE</button></div>
            <div class="col"></div>
        </div>
        <br>
        <div class="row" >
            <div class="col">
                <br><br>
                <img src="/img/gato5.jpg" width="380" height="390" id="imgPet" class="rounded float-start" alt="...">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-4">
                
                    </div>
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">Expendiente</p>
                    </div>
                    <div class="col-4">
                        <p id="txt_expediente" class="text-uppercase text-danger fw-bolder">202310011</p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">Nombre Paciente</p>
                    </div>
                    <div class="col-8">
                        <p id="txt_nombrePaciente" class="text-uppercase "></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">FECHA NACIMIENTO</p>
                    </div>
                    <div class="col-8">
                        <p id="txt_fechaNacimiento" class="text-uppercase "></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">Sexo</p>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioMacho">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      MACHO
                                    </label>
                                  </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="radioHembra">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                      HEMBRA
                                    </label>
                                  </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">Especie</p>
                    </div>
                    <div class="col-8">
                        <p id="txt_especie" class="text-uppercase "></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">RAZA</p>
                    </div>
                    <div class="col-8">
                        <p id="txt_raza" class="text-uppercase "></p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <p class="text-uppercase fw-bolder">COLOR</p>
                    </div>
                    <div class="col-8">
                        <p id="txt_color" class="text-uppercase "></p>
                    </div>
                </div>
                <br>
                
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div>
                    <p class="text-uppercase fw-bolder">SEÑAS PARTICULARES</p>
                </div>
            </div>  
            <div class="row">
                <div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="SEÑAS PARTICULARES" id="txt_señasParticulares" style="height: 100px" disabled></textarea>
                        <label for="floatingTextarea2">SEÑAS PARTICULARES</label>
                    </div>
                </div>
            </div>  
            <br><br>
        </div>
   
        
   </div>


   <br><br>
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>


    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/Pet/detailPet.js"> </script>
 
  </body>
</html>