<!doctype html>
    <html>
       <head>
            <meta charset="utf-8">
         
            <title>PDF Result Template</title>
            <style>
                .container{
                  padding: 40px;
                }
               
            </style>
        </head>
        <body>
          <div class="container">
            <img src="/img/logo_katzen.png" width="150px" height="150px" />
          </div>
           
        </body>
    </html>